.about-area {
  padding-top: 15rem;
  .container {
    .about-img {
      img {
        height: auto;
        @include mobile {
          /*320px-480px*/
          margin-bottom: 6rem;
        }
        @include mobile-port {
          /*481px-767px*/
          margin-bottom: 6rem;
        }
        @include tablet {
          /*768px-1024px*/
          margin-bottom: 6rem;
        }
      }
    }
    .about-title {
      h3 {
        padding-bottom: 1rem;
      }
      p {
        padding-bottom: 4rem;
      }
      button {
        padding: 0.5rem 4rem;
        @include mobile {
          /*320px-480px*/
          margin-bottom: 6rem;
        }
        @include mobile-port {
          /*481px-767px*/
          margin-bottom: 6rem;
        }
        @include tablet {
          /*768px-1024px*/
          margin-bottom: 6rem;
        }
      }
    }
  }
}
