header {
  .navbar {
    .navbar-brand {
      margin-top: 1.5rem;
    }
    ul {
      margin-top: 2rem;
      @include mobile {
        /*320px-480px*/
        text-align: center;
      }
      @include mobile-port {
        /*481px-767px*/
        text-align: center;
      }
      @include tablet {
        /*768px-1024px*/
        text-align: center;
      }
    }
  }
  .container {
    .banner-area {
      padding: 22rem 0;
    }
  }
}
