.signature-area {
  background-color: aqua;
  padding: 12rem 0;
  p {
    width: 50%;
    @include mobile {
      /*320px-480px*/
      width: 100%;
    }
  }
  img {
    padding-bottom: 5rem !important;
  }
}
