.work-area {
  .work-process-area {
    background-color: #f6f6f6;
    padding-top: 10rem;
    .work-p-title {
      padding-bottom: 6rem;
    }
    .work-dev {
      padding-bottom: 10rem;
      .col-lg-3 {
        padding: 10rem 5rem;
        @include mobile {
          /*320px-480px*/
          margin-bottom: 1rem;
        }
        @include mobile-port {
          /*481px-767px*/
          margin-bottom: 1rem;
        }
        @include tablet {
          /*768px-1024px*/
          padding: 7rem 1rem;
          margin-bottom: 1.5rem;
        }
        @include tablet-port {
          /*1025px-1280px*/
          padding: 7rem 0rem;
        }
      }
    }
  }

  .work-experience-area {
    padding-top: 10rem;
    padding-bottom: 10rem;
    .experience {
      background: $color-div-bg;
      padding: 5rem;
      @include mobile {
        /*320px-480px*/
        margin-bottom: 4rem;
      }
      @include mobile-port {
        /*481px-767px*/
        margin-bottom: 4rem;
      }
      @include tablet {
        /*768px-1024px*/
        margin-bottom: 4rem;
      }
    }
  }
}
